@using Microsoft.AspNetCore.Http;
@using BlazorTestApp.Models.Address;

@page "/"

@inject HttpClient HttpClient

<PageTitle>Address component for USA</PageTitle>

<h1>Address component for USA</h1>

<p>This component demonstrates fetching data from <a href="http://ipinfo.io/">ipinfo.io</a></p>

<style>

</style>

@if (userAddress == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Edit Address</h3>
    <hr />
    <div class="form-group row">
        <label for="Country" class="col-sm-2 col-form-label">
            Country
        </label>
        <div class="col-sm-10">
            <input type="text" id="Country" class="form-control" placeholder="First Name"
                       value="@userAddress.Country" />
        </div>
        <p></p>
    </div>
    <div class="form-group row">
        <label for="City" class="col-sm-2 col-form-label">
            City
        </label>
        <div class="col-sm-10">
            <input type="text" id="City" class="form-control" placeholder="Last Name"
                       value="@userAddress.City" />
        </div>
        <p></p>
    </div>
    <div class="form-group row">
        <label for="State" class="col-sm-2 col-form-label">
            State
        </label>
        <div class="col-sm-10">
            <input type="text" id="State" class="form-control" placeholder="Email"
                       value="@userAddress.State" />
        </div>
        <p></p>
    </div>
    <div class="form-group row">
        <label for="Street" class="col-sm-2 col-form-label">
            Street
        </label>
        <div class="col-sm-10">
            <input type="text" id="Street" class="form-control" placeholder="Last Name"
                       value="@userAddress.Street" />
        </div>
        <p></p>
    </div>
    <div class="form-group row">
        <label for="ZipCode" class="col-sm-2 col-form-label">
            Zip Code
        </label>
        <div class="col-sm-10">
            <input type="text" id="ZipCode" class="form-control" placeholder="Last Name"
                       value="@userAddress.ZipCode" />
        </div>
        <p></p>
    </div>
}

@code {
    private UserAddress? userAddress;

    protected override async Task OnInitializedAsync()
    {
        userAddress = new UserAddress();

        // mock data in "/sample-data/address.json"

        var ipData = await HttpClient.GetFromJsonAsync<IpAddressData>("https://ipinfo.io"); 
        if (ipData != null && ipData.Country == "US")
        {
            userAddress.City = ipData.City;
            userAddress.Country = ipData.Country;
            userAddress.State = ipData.Region;
            userAddress.ZipCode = ipData.Postal;
        }
    }

    public class UserAddress
    {
        public string City { get; set; }

        public string State { get; set; }

        public string Country { get; set; }

        public string ZipCode { get; set; }

        public string Street { get; set; }
    }
}
